<div class = "container">
  
  <div class = "Jumbotron" style = "background-color: grey;">
  <h1>Burgers!</h1>
  </div>
<div class="card" style="width: 18rem;">
<div class="card-header">
<h2>Burgers that are available!</h2>
</div>
<ul class="list-group list-group-flush">
  {{#each burgers}}
    {{#unless devoured}}
      {{> cats/cat-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

</div>


<div class="card" style="width: 18rem;">
<div class="card-header">
<h2>Burgers Eaten!</h2>
</div>
<ul class="list-group list-group-flush">
  {{#each burgers}}
    {{#if devoured}}
      {{> cats/cat-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>
</div>





<div class="card" style="width: 18rem;">
<div class="card-header">
<h2>Add a Burger</h2>
</div>
<form class="create-form">

  <div class="form-group list-group list-group-flush">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group ">
    <label for="devoured">Available for consumption?</label><br>
    <input type="radio" name="devoured" value="1" checked> Not Available <br>
    <input type="radio" name="devoured" value="0"> Available!
  </div>

  <button type="submit list-group list-group-flush">Add a Burger with or without title and Refresh Button</button>
  
</form>
<button class = "delete-noname">Delete Burgers with not title</button>
<img src="/assets/img/hamburger.jpg" height= 267 width= 287>
</div>




</div>

<img  src="/assets/img/burger2.jpg" height= 267 width= 287>